body {
    margin: 0;
    font-family: sans-serif;
}



  
.progressbar {
    counter-reset: step;
 
}
.progressbar li {
    list-style-type: none;
    width: 15%;
    float: left;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: black;
    font-weight: bold;
  
}
.progressbar li.active:before {
    border-color: green;
    background-color: rgb(187, 255, 187);
}
.progressbar li.active + li:after {
    background-color: #55b776;
}

.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}


.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{

    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
}

.loginbox input[type="submit"]{

    border: 0;
    outline: none;
    height: 40px;
    background-color: #2699FB;
    cursor:pointer;
}
  
  
  .header {
    background: #2699FB;
    height: 90px;
    padding-top: 0.1%;
   
    
  }
  

.labels{
    font-weight: bold;
}
h3{
    text-align: center;
    color: blue;
}
.loginbox a{
    text-align: center;
}

